.login-page {
    display: flex;
    align-content: center;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
.login-page__container {
    border: 1px solid lightgray;
}
.login-page__container-headline {
    border-bottom: 1px solid lightgray;
    padding: 20px;
    font-size: 20px;
}
.login-page__field {
    margin: 10px 20px;
}