<div class="login-page">
    <div class="login-page__container">
        <div class="login-page__container-headline">
            Login
        </div>
        <div class="login-page__field">
            <div>Username*</div>
            <div><input type="text" [(ngModel)]="userName"></div>
        </div>
        <div class="login-page__field">
            <div>Password*</div>
            <div><input type="password" [(ngModel)]="password"></div>
        </div>
        <div class="login-page__field">
            <button (click)="loginUser()">Login</button>
        </div>
    </div>
</div>