<div borderHighlight [courseDate]="course.creationDate" [ngClass]="{'epm-course-item': true, 'epm-course-item--top-rated': course.topRated}">
    <div class="epm-course-item__content">
        <div class="epm-course-item__header">
            <div class="epm-course-item__title">
                {{course.title | uppercase}} <span *ngIf="course.topRated">{{icons.star}}</span>
            </div>
            <div class="epm-course-item__dates">
                {{course.duration | courseDuration}}
                {{course.creationDate | date: 'dd.MM.yyyy'}}
            </div>
        </div>
        <div class="epm-course-item__details">
            {{course.description}}
        </div>
    </div>
    <div class="epm-course-item__actions">
        <div><button (click)="editCourse()">Edit</button></div>
        <div><button (click)="deleteCourse(course.id)">Delete</button></div>
    </div>
</div>
